/* Conteneur des cartes */
.grid-view {
    display: grid; 
    grid-template-columns: repeat(6, 1fr);
    gap: 20px; 
    list-style: none;
    margin: 20px; 
    padding: 0%; 
}
/* Élément de carte */
.grid-view .card-item {
    flex: 0 1 calc(16.66% - 20px); /* 6 cartes par ligne */
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
    transition: transform 0.2s ease-in-out;
}

.grid-view .card-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Image de la carte */
.grid-view .card-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Texte de la carte */
.grid-view .card-item p {
    font-size: 14px;
    color: #333;
}

.grid-view .card-item {
    flex: 0 1 calc(25% - 20px); /* 4 cartes par ligne */
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
    transition: transform 0.2s ease-in-out;
}

/* mode liste */
.list-view {
    display: grid; 
    grid-template-columns: repeat(6, 1fr); 
    gap: 20px;
    list-style: none;
    margin: 20px; 
    padding: 0; 
}

/* Élément de carte en mode liste */
.list-view .card-item {
    display: grid; /* Aligne les éléments horizontalement */
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Espace entre l'image et le texte */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0;
    background-color: #fff;
    width: 100%; /* Prend toute la largeur disponible */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Image de la carte en mode liste */
.list-view .card-item img {
    width: 40px; /* Taille réduite pour l'image */
    height: auto;
    border-radius: 8px;
}

/* Texte de la carte en mode liste */
.list-view .card-item p {
    font-size: 14px;
    color: #333;
    margin: auto;
}



.list-view .card-item .card-counter {
    font-size: 12px;
    color: #777;
    margin: auto;
    text-align: center;
}

/* Cartes utilisateur */
.user-card {
    border: 2px solid #ffcb05;
    border-radius: 12px;
    padding: 16px;
    margin: 16px auto;
    max-width: 400px;
    text-align: center;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.user-card-link {
    text-decoration: none;
    color: inherit;
}

.user-card-content h2 {
    margin: 0;
    font-size: 1.8rem;
    color: #2a75bb;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.user-card-content p {
    margin: 8px 0;
    color: #555;
}

/* Bouton pour changer le mode d'affichage des cartes */
.toggle-view {
    margin: 20px auto;
    display: block;
    padding: 10px 20px;
    background-color: #2a75bb;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.toggle-view:hover {
    background-color: #ffcb05;
    color: #333;
}

.quantity {
    font-size: 14px;
    color: #555;
    margin: 5px 5px;
    text-align: center;
}

/* boutton filtre */
.btn {
  width: 100px;
  height: 100px;
  background-size: 400% 300%; /* 4 colonnes, 3 lignes */
  background-position: calc(var(--x) * 100%) calc(var(--y) * 100%);
  border: none;
  margin: 5px;
  cursor: pointer;
  border-radius: 6px;
  transition: transform 0.2s;
}

button.btn img {
  pointer-events: none; /* pour éviter que le clic soit capté par l'image */
    max-width: 100%;
  max-height: 100%;
  width: 100px;
  height: 40px;
  display: block;
  margin: auto;
}

.fire {
        background-image: url(../images/energy-types.png);
        background-position: 0px 0px;
        width: 25px;
        height: 25px;
}
.water {
        background-image: url(../images/energy-types.png);
        background-position: -75px -50px;
        width: 25px;
        height: 25px;
}
.lightning {
        background-image: url(../images/energy-types.png);
        background-position: -50px -50px;
        width: 25px;
        height: 25px;
}
.grass {
        background-image: url(../images/energy-types.png);
        background-position: -25px -50px;
        width: 25px;
        height: 25px;
}
.fighting {
        background-image: url(../images/energy-types.png);
        background-position: -50px -25px;
        width: 25px;
        height: 25px;
}
.psychic {
        background-image: url(../images/energy-types.png);
        background-position: -75px -25px;
        width: 25px;
        height: 25px;
}
.dragon {
        background-image: url(../images/energy-types.png);
        background-position: 0px -25px;
        width: 25px;
        height: 25px;
}
.darkness {
        background-image: url(../images/energy-types.png);
        background-position: 0px -50px;
        width: 25px;
        height: 25px;
}
.metal {
        background-image: url(../images/energy-types.png);
        background-position: -75px 0px;
        width: 25px;
        height: 25px;
}
.colorless {
        background-image: url(../images/energy-types.png);
        background-position: -25px 0px;
        width: 25px;
        height: 25px;
}