<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <title><%= title %></title>
</head>

<body>
    <%- include('partials/navbar') %>

    <h1>Connexion réussie</h1>
    <p>Bienvenue, <strong><%= username %></strong> ! Vous êtes maintenant connecté.</p>
    <a href="/">Retour à l'accueil</a>

    <%- include('partials/footer') %>
</body>

</html>