<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/registerForm.css">
</head>

<body>
    <%- include('partials/navbar') %>

        <h1>Formulaire d'inscription</h1>
        <form action="/auth/register" method="POST">
            <div>
                <label for="username">Nom d'utilisateur : </label><br>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="email">Email : </label><br>
                <input type="email" id="email" name="email" required>
                <div id="emailVerification"></div>
            </div>
            <div>
                <label for="password">Mot de passe : </label><br>
                <input type="password" id="password" name="password" required>
                <div id="passwordStrength"></div>
            </div>
            <div>
                <label for="confirmPassword">Confirmer le mot de passe : </label><br>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
                <div id="passwordVerification"></div>
            </div>
            <div>
                <label for="inGameName">Nom en jeu : </label><br>
                <input type="text" id="inGameName" name="inGameName" required>
            </div>
            <div>
                <label for="friendCode">Code ami : </label><br>
                <input type="text" id="friendCode" name="friendCode" maxlength="14" required>
            </div>
            <button type="submit">S'inscrire</button>
        </form>

        <%- include('partials/footer') %>
            <script src="/scripts/registerFormScript.js"></script>
</body>

</html>