<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/footer.css">
</head>

<body>

    <%- include('partials/navbar') %>

        <h1>Erreur lors de l'inscription</h1>
        <p style="color: red;">
            <%= errorMessage %>
        </p>
        <a href="/auth/registerLogin" class="btn">Réessayer</a>

        <%- include('partials/footer') %>
</body>

</html>