<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/footer.css">
</head>

<body>
    <%- include('partials/navbar') %>

        <h1>Formulaire d'inscription</h1>
        <form action="/auth/register" method="POST">
            <label for="username">Nom d'utilisateur :</label>
            <input type="text" id="username" name="username" required>
            <br><br>

            <label for="email">Email :</label>
            <input type="email" id="email" name="email" required>
            <br><br>

            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password" required>
            <br><br>

            <label for="inGameName">Nom en jeu :</label>
            <input type="text" id="inGameName" name="inGameName" required>
            <br><br>

            <label for="friendCode">Code ami :</label>
            <input type="text" id="friendCode" name="friendCode" maxlength="14" required>
            <br><br>

            <button type="submit">S'inscrire</button>
        </form>

        <%- include('partials/footer') %>
        <script src="/scripts/friendCode.js"></script>
</body>

</html>