<nav class="navbar">
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/cards/cards">Cartes</a></li>
        <li><a href="/users/list">Utilisateurs</a></li>
        <% if (isAuthenticated) { %>
            <li><a href="/profile/showProfile">Mon profil</a></li>
            <li><a href="/auth/logout">Déconnexion</a></li>
        <% } else { %>
            <li><a href="/auth/login">Connexion</a></li>
            <li><a href="/auth/register">Inscription</a></li>
        <% } %>
    </ul>
</nav>